// COLORS
$bg: #14131A;
$dark-red:#8D0019;

// STLYE

body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.blood_bg {
    background: url(../img/blood.png) no-repeat top right, $bg url(../img/main-bg.jpg) no-repeat center / 100%;
}
.container {
    max-width: 1140px;
    margin: auto;
}

// HEADER - HERO

header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
    
    .logo {
        display: inline-block;
        margin-right: 50px;
    }
    nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            li {      
                margin-right: 30px;  
                a {
                    color: #fff;
                    text-decoration: none;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }    
}
.hero {

    &_text {
        span {
            display: block;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 38px;
        }
        p {
            margin-top: 41px;
            font-size: 16px;
            line-height: 140%;
            max-width: 423px;
        }
        button {
            padding: 15px 30px;
            border: none;
            background: #efe8f4;
            border-radius: 5px;
            margin-top: 70px;
            margin-right: 50px;
            color: $dark-red;
        }
        button,a {
            text-decoration: none;
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 16px;
                display: inline-block;
                margin: 0;
                vertical-align: middle;
            }
        }
        .btn {
            &-premiere {
                color: #fff;
            }
        }
    }
}
.venom {
    position: absolute;
    top:0;
    right: 0;
}